<h1 class="mb-4">Редактировать клиента</h1>

<div class="card p-4">
  <%= render "form", client: @client %>
</div>

<div class="mt-3">
  <%= link_to "Назад", clients_path, class: "btn btn-outline-primary" %>
</div>