<div class="container text-center mt-5">
  <h1 class="display-4">🚖 Taxi App</h1>
  <p class="lead">Выберите нужный раздел:</p>

  <div class="row mt-4">
    <div class="col-md-3">
      <a href="<%= cars_path %>" class="btn btn-primary btn-lg w-100">Машины</a>
    </div>
    <div class="col-md-3">
      <a href="<%= clients_path %>" class="btn btn-success btn-lg w-100">Клиенты</a>
    </div>
    <div class="col-md-3">
      <a href="<%= drivers_path %>" class="btn btn-warning btn-lg w-100">Водители</a>
    </div>
    <div class="col-md-3">
      <a href="<%= rides_path %>" class="btn btn-danger btn-lg w-100">Поездки</a>
    </div>
  </div>
</div>