<h1 class="mb-4">Редактировать водителя</h1>

<div class="card p-4">
  <%= render "form", driver: @driver %>
</div>

<div class="mt-3">
  <%= link_to "Назад", drivers_path, class: "btn btn-outline-primary" %>
</div>