<h1 class="mb-4">Добавить поездку</h1>

<div class="card p-4">
  <%= render "form", ride: @ride %>
</div>

<div class="mt-3">
  <%= link_to "Назад к списку", rides_path, class: "btn btn-outline-primary" %>
</div>